/*
  Website Name: Nokhetha.com
  Author: Nokhetha.com
  Author URL: https://Nokhetha.com
  Arabic Stylesheet 
*/

body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #67696c;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  overflow-x: hidden; direction: rtl;
}

/*Navigation bar */

.navbar-header1 {
    float: right; direction: rtl; text-align: right;
}
img.menu-open {
    position: relative; right: 0px !important; cursor: pointer;    z-index: 999 !important;
}
img.menu-open.active {
    position: relative; right: 250px !important;  cursor: pointer;
}
.cbp-spmenu-left {
    right: -280px !important;
}

.cbp-spmenu-left.cbp-spmenu-open {
    right: 0px !important;
}
.menu-block-inn a {
    float: right;
    width: 100%; direction: rtl;
    padding: 5px 45px 5px 10px !important;
}
ul.menu-service-box li {
 float: right; direction: rtl;
}
ul.menu-service-box li a {
    float: right; direction: rtl;
}
.navbar-brand {
    float: right;
}
.navbar-default .navbar-nav>li>a { direction: rtl; }
.Phone-box { float: left; width: 440px;  }
h2.bnr-sub-title {  text-align: right;  direction: rtl; }
.bnr-para { text-align: right;  direction: rtl; }
.Banner-features { text-align: right;  direction: rtl; }
.Banner-features ul li a { text-align: right; direction: rtl; }
.title03 { text-align: right; direction: rtl; }
p { margin: 0 0 10px; direction: rtl; }
.btn-more1 { direction: rtl; }
#home-section04 { background: #ef5117 url(../img/section04-bg-ar.jpg) no-repeat center top; }
.solutions-item p { text-align: center;  }
.section05-text { background: url(../img/arrow-type2.png) no-repeat right top; }
h2.title04 { text-align: right; direction: rtl; }
.text-left {
    text-align: right;
}
ul.service-list1 li {
    list-style: none; padding: 0 28px 0 0; text-align: right; background: url(../img/bullete02.png) no-repeat right top;
    margin: 0px 0px 10px 30px; direction: rtl;
}
.title02 {text-align: center; direction: rtl; }
h3.feature01 {  direction: rtl;  }
h4.title05, #footer p { direction: rtl; text-align: right; }
#footer2 .footer-link2 { text-align: left; direction: rtl; }

/* About Us Page */
.About-featurs-img { float: right;  margin-left: 15px; }
.inner-banner-info, .inner-banner-info h2, .About-featurs-text h3, .breadcrum, .breadcrum a { text-align: right; direction: rtl; }

/* Service Page */
.title06 { direction: rtl; }
.service-img {
    text-align: right; float: right; width: 35%; margin-left: 20px; margin-right:0px;
}
.service-text { text-align: right; direction: rtl; float: left; }
h3.service-title02, h3.service-title01, h3.service-title01 span, h3.service-title02 span, h3.service-title02{  text-align: right; direction: rtl; }
ul.service-list li {
    padding: 0 28px 0 0; direction: rtl; text-align: right; background: url(../img/bullete01.png) no-repeat right top; margin: 0px 0px 10px 30px;
}
.service-block .service-text1, .service-block .service-img1 {
    float: right; text-align: right; direction: rtl;
}

/* Portfolio Page */

.portfolio-box h4 { direction: rtl; }
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius:0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li>a, .pagination>li>span {
    position: relative; float: right;
}

/* News Page */

.news-img { float: right; margin: 0  0 0 25px; }
.news-img-details { float: right;  }
.news-text-details { float: right; text-align: right;  direction: rtl; }
.title08{ text-align: right;  direction: rtl; }

/* Post your project */

/* Contact Us */

.address1 {
    padding: 0px 56px 0px 0; background: url(../img/icons1-1.png) no-repeat 306px -15px;
}
.phone1 {
    padding: 2px 56px 2px 0; background: url(../img/icons1-1.png) no-repeat 306px -82px;
}
.fax1 {
    padding: 0px 56px 0px 0; background: url(../img/icons1-1.png) no-repeat 306px -124px;
}

/* Proejct Idea Page */
.project-idea-text .step-div {
    float: right; margin-right: 0px; margin-left: 20px;
}
.title07 {
    text-align: right;  direction: rtl; 
    background: url(../img/title07-bg-1.png) no-repeat right bottom;
}
ul.service-list2 li {
    padding: 0 28px 0 0; direction: rtl; text-align: right; background: url(../img/bullete02.png) no-repeat right top;
    margin: 0px 0 10px 30px;
}
.panel-title {
    background: url(../img/job-icon.png) right top no-repeat;
    padding: 0 60px 0 0;
}
.Career-requirements-info ul li {
    background: url(../img/arrow-3-dark-1.png) right 12px no-repeat;
    padding: 5px 20px 5px 10px;
}
.Career-requirements-info {
    width: 100%;
    background: #fff;
    height: auto;
    padding: 5px 8px;
    margin: 0 0 20px 0;
}


/* FAQ Page */
.faq-related-links h3, .faq-related-links ul li  { text-align: right; direction: rtl; }
.faq-related-links {
    background: #ff4f0f url(../img/faq-topics-bg.png) no-repeat bottom left;
}
.panel-title1 {
    background: url(../img/faq-img.png) right 5px no-repeat;
    padding: 0 30px 10px 0;
}

/* Sitemap Page */
ul.sitemap-list li {
    padding: 0 18px 0 0; direction: rtl; text-align: right; background: url(../img/bullete03.png) no-repeat right;
    margin: 0px 0 10px 30px;
}

/* Terms of use Page */
.terms_section ul{ margin: 0px; }
.terms_section ul li {
    background: url(../img/arrow-3-dark-1.png) right 12px no-repeat;
    padding: 10px 26px 10px 10px; text-align: right; direction: rtl; 
}
.Privacy-policy-text { text-align: right; direction: rtl; }
#footer2 a {
    float: left; direction: rtl;
}


.terms_section ul li {
    background: url(../img/arrow-3-dark-1.png) 6px 15px no-repeat;
    padding: 10px 10px 10px 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    letter-spacing: 0.5;
    display: block;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.terms_section ul li {
    background: url(../img/arrow-3-dark-1.png) right 17px no-repeat;
    padding: 10px 26px 10px 10px;
    display: block; direction: rtl;
    text-align: right;
}


 @media (min-width: 768px){
.navbar-right {
    float: left!important;
    margin-right: -15px;
    margin-top: 16px;
}
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: right;
}
.container-fluid>.navbar-collapse, .container>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
    float: left;
}
.navbar-nav>li {
    float: right;
    direction: rtl;
}



}
@media (min-width: 992px){
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
}
}
@media screen and (max-height: 26.375em){
.cbp-spmenu-left, .cbp-spmenu-push-toleft {
    right: -280px;
}


}


@media (max-width: 450px) and (min-width: 320px){
.navbar-default .navbar-brand {
    padding-left: 0px; padding-right: 10px;
}
a.header-link-lang1 {
    display: inline-block;
    margin: 0px 0 0 15px !important;
    background: url(../img/icons2.png) no-repeat -129px 0px !important;
    width: 40px;
    height: 45px;
}
a.header-link-lang1:hover {
    display: inline-block;
    margin: 0px 0 0 15px !important;
    background: url(../img/icons2.png) no-repeat -129px -60px !important;
    width: 40px;
    height: 45px;
}
#footer2 a {
    float: none;
    direction: rtl;
}
#footer2 .footer-link2 {
    text-align: center;
    direction: rtl;
}
.btn-more, .btn-more:focus {
    margin-left: 0px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
}
.service-img {
    text-align: center;
    float: right;
    width: 100%;
    margin-left:0px;
    margin-right: 0px;
}
.mobile-menu {
    display: block;
    float: left;
    width: 40px;
    margin: 20px 0px 20px 0px; 
    margin-top: -46px;   
}
.inner-banner-info, .inner-banner-info h2, .About-featurs-text h3, .breadcrum, .breadcrum a { text-align: center; direction: rtl; }


}