/*
  Website Name: Nokhetha.com
  Author: Nokhetha.com
  Author URL: https://Nokhetha.com
*/

/*FOnts Import */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,600,700,800');



body {
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  color: #67696c;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.section-padding {
  padding: 60px 0px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0px;
    opacity: 1
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

/***********************************
************************************
HEADER
************************************
***********************************/
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
#animate-area { 
  width: 100%; 
  height: auto; 
  min-height: 650px;
  background-image: url(../img/header-bg.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  background-size: cover;
  position: relative;
  animation: animatedBackground 5s linear infinite;
}


.header {
 border-top: 4px solid #f3551d; width: 100%; height: auto;
  
}

.bg-color {
  background-color:none;
  min-height: 690px;
}

#main-header {}
.banner-iphone{ margin-top: 120px; }
.navbar-default .logo{ width: 190px; height: auto; }
.navbar-default.top-nav-collapse .logo{ width: 120px !important; height: auto; }
.top-nav-collapse .navbar-brand { margin: 0px !important; }

.navbar-default .logo-primary{  display: none; visibility: hidden; }
.navbar-default.top-nav-collapse .logo-primary{  display: block; visibility: visible; }
.navbar-default .logo-secondary{ display: block; visibility: visible;  }
.navbar-default.top-nav-collapse .logo-secondary{  display: none; visibility: hidden;  }


.navbar-default {
  background-color: transparent;
  border: 0px;
  padding: 20px 0;
  transition: all 0.3s;
}

@media (max-width: 768px) {
	.navbar-collapse {
		/*background: rgba(64, 75, 97, 0.9);*/
    border-top: 0;
	}
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #002F2F;
}

.top-nav-collapse {
  padding: 0; box-shadow: #ccc 0 0 10px;
  background: rgba(255, 255, 255, 1);
  border-top: 4px solid #f3551d;
}

.logo-dec {
  color: #be9e21;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-brand {
  padding: 0px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 15px 0px;
  margin-top: 6px;
}

.navbar-default .navbar-nav>li>a {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #be9e21;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  background-color: transparent;
  color: #be9e21;
}

.banner-info {
  padding-top: 230px;
  color: #fff;
}

.bnr-title, .bnr-sub-title {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1.bnr-title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2.bnr-sub-title {
  font-size: 55px;
  text-transform: uppercase;
  padding: 20px 0px;
  font-weight: 700; color: #ff4f0f;
}

.bnr-para {
  font-weight: 300;color: #313131;font-size: 30px; font-family:'Open Sans Condensed', sans-serif;
}

.btn-download, .btn-more, .btn-download:hover, .btn-download:focus, .btn-more:focus {
  text-transform: uppercase;
  margin-top: 50px;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px 30px;
  border-radius:0px;
  margin: 50px 0px 0 0;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.btn-download {
  background-color: #be9e21;
}

.btn-more, .btn-more:focus {
  margin-left:0px;
  border: 1px solid #fff;
  color: #fff; 
}

.btn-more:hover {
  background: #fff;
  color: #f3551d;
}

.overlay-detail a i {
  text-align: center;
  font-size: 38px;
  color: #ff4f0f;
}

/***********************************
************************************
features
************************************
***********************************/

.title, .service-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}

.item-img {
  margin-bottom: 15px;
}

.sub-title {
  font-size: 20px;
}

.bottom-line {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 0;
  border-top: 0px;
  height: 3px;
  width: 40px;
  background-color: #BE9E21;
}

.wrap-item h3 {
  font-size: 24px;
  line-height: 25px;
}

.pad-bt15 {
  padding-bottom: 15px;
}

.sec-sub-title {
  padding-top: 30px;
}

.sec-sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #002F2F;
  text-transform: uppercase;
  margin: 25px 0px;
  line-height: 1.7;
}

#service {
  background-color: #F3F4F8;
}

ul.service-list li i {
  color: #002F2F;
  padding-right: 10px;
}

.learn-more, .learn-more:hover, .learn-more:focus {
  height: 50px;
  width: 175px;
  background: #046380;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 45px;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.visit-portfolio, .visit-portfolio:hover, .visit-portfolio:focus {
  height: 50px;
  width: 175px;
  display: inline-block;
  text-align: center;
  color: #495376;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  border: 1px solid #838aa1;
  margin-top: 45px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

/*.bx-wrapper img {
  width: 70px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 15px;
}*/

.service-item h3 span {
  opacity: 0.7;
  font-size: 75px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -5px;
  font-weight: 900;
  padding-right: 6px;
}

.service-item h3 {
  font-weight: 700;
}

.service-item p {
  opacity: 0.6;
  color: inherit;
  padding: 10px 0px;
}

.service-item a {
  color: #be9e21;
}

.mr-btn-15 {
  margin-bottom: 15px;
}

.padding-right-zero {
  padding-right: 0px !important;
}

.bx-wrapper {
  margin: 0 auto 35px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
}

.portfolio-item figure {
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.portfolio-item figure img {
  display: block;
  position: relative;
  z-index: 10;
  margin: -15px 0
}

.portfolio-item figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.portfolio-item figure h2 {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
  padding-bottom: 15px;
}

.portfolio-item figure p {
  display: block;
  line-height: 18px;
  margin: 0;
  color: #fff;
  text-align: left
}

.portfolio-item figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 59px 30px;
  background-color: #BE9E21;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  text-align: center;
}

.portfolio-item figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s
}

.portfolio-item figure:hover img, figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg)
}

.portfolio-item figure:hover figcaption, figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0)
}

/***********************************
************************************
TESTIMONIAL
************************************
***********************************/

#testimonial {
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
  min-height: 390px;
}

.bg-testicolor {
  background-color: RGBA(73, 84, 105, 0.61);
  min-height: 390px;
}

.white {
  color: #fff !important;
}

.testimonial-item ul li blockquote {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  font-weight: 300;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 0 80px;
  position: relative;
  border: 0;
}

.testimonial-item ul li small {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.bx-viewport {
  height: auto !important
  min-height: 435px !important;
  background-color: transparent !important;
  border: 0px none !important;
  box-shadow: none !important;
}

.testimonial-item ul li blockquote::before {
  content: '“';
  left: 30px;
}

.testimonial-item ul li blockquote::before, .testimonial-item ul li blockquote::after {
  position: absolute;
  font-weight: 300;
  font-size: 3em;
  font-family: Georgia, serif;
  color: #ccc;
  top: 62%;
}

.testimonial-item ul li blockquote::after {
  content: '”';
  right: 30px;
}



#footer {
  padding: 20px 0px;
}

.scrollToTop {
  position: fixed;
  bottom: 12px;
  right: 12px;
  width: 42px;
  height: 42px;
  color: #ffffff;
  background: #be9e21;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  display: none;
}

.white-bg {
  background-color: #fff;
}

#footer2 .footer-link2 {
    text-align: right;
}


.navbar-header1 {
    float: left;
    width: 40%;
    text-align: left;
}
img.menu-open{ position: relative; left: 0px; cursor: pointer; }
img.menu-open.active{ position: relative; left: 220px; cursor: pointer; }
a.header-link1{ 
  padding: 5px 20px; 
  background: #ff4f0f !important; 
  text-align: center; 
  font-size: 13px !important; 
  color: #fff !important; 
  text-decoration: none;
  line-height: 25px !important;
  margin: 6px 2px; 
}
a.header-link1:hover{ background:#333 !important; }
a.header-link-call{ display:none !important; visibility: hidden; margin: 0px 1px !important; background: url(../img/icons2.png) no-repeat 0px 0px !important; width: 40px; height: 45px;  }
a.header-link-call:hover{ background: url(../img/icons2.png) no-repeat 0px -60px !important; }
a.header-link-mail{ display: inline-block; margin: 0px 1px !important; background: url(../img/icons2.png) no-repeat -44px 0px !important; width: 40px; height: 45px;  }
a.header-link-mail:hover{ background: url(../img/icons2.png) no-repeat -44px -60px !important; }
a.header-link-lang1{ display: inline-block; margin: 0px 1px !important; background: url(../img/icons2.png) no-repeat -86px 0px !important; width: 40px; height: 45px;  }
a.header-link-lang1:hover{ background: url(../img/icons2.png) no-repeat -86px -60px !important; }
a.header-link-lang2{ display: inline-block; margin: 0px 1px !important; background: url(../img/icons2.png) no-repeat -128px 0px !important; width: 40px; height: 45px;  }
a.header-link-lang2:hover{ background: url(../img/icons2.png) no-repeat -128px -60px !important; }



.overlay-detail{
      width: 100%; text-align: center; height: auto; min-height: 30px;margin-top: 50px;
}
.Banner-features{  width: 100%; text-align: left; height: auto; min-height: 30px; }
.Banner-features ul{padding: 0px; margin: 0px;}
.Banner-features ul li {
    display: inline-block;
    margin: 0px 20px 0 0;
    padding:45px 0 0 0px;
    line-height: 35px;
}
.Banner-features ul li a{ color: #ff4f0f; text-decoration: none; text-align: left; font-size: 20px;  }
.Banner-features ul li a:hover{ color: #333; text-decoration: none;  }
.Banner-features ul li.banner-icon1{ background: url(../img/icon02.png) no-repeat -822px -145px; }
.Banner-features ul li.banner-icon1:hover{ background: url(../img/icon02.png) no-repeat -822px -20px; }
.Banner-features ul li.banner-icon2{ background: url(../img/icon02.png) no-repeat -518px -144px; }
.Banner-features ul li.banner-icon2:hover{ background: url(../img/icon02.png) no-repeat -518px -19px; }
.Banner-features ul li.banner-icon3{ background: url(../img/icon02.png) no-repeat 14px -143px; }
.Banner-features ul li.banner-icon3:hover{ background: url(../img/icon02.png) no-repeat 14px -18px; }
.Banner-features ul li.banner-icon4{ background: url(../img/icon02.png) no-repeat -252px -144px; }
.Banner-features ul li.banner-icon4:hover{ background: url(../img/icon02.png) no-repeat -252px -19px; }
.width60{ width: 60%; }
.marbot80{ margin-bottom: 80px; }

#home-section02{ background:#fff url(../img/section02-bg.jpg) no-repeat fixed center; width: 100%; height:auto; min-height: 490px; padding: 40px 0; background-size: cover;  }
.section02-text{ text-align: left; color: #333; font-size: 18px; font-weight: 500;  }
.title01{ text-align: left; color: #fff; font-size: 34px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 35px; margin-top: 65px; }
.title02{ text-align: center; color: #333; font-size: 34px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 15px; margin-top: 35px; }
.title06{ text-align: center; color: #fff; font-size: 38px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 15px; margin-top: 35px; }
.title07{ text-align: left; color: #ff4f0f; font-size: 20px; font-family: 'Open Sans', sans-serif; font-weight: bold; margin-bottom: 15px; margin-top:0px;
background: url(../img/title07-bg.png) no-repeat left bottom; width: 100%; padding: 0 0 15px 0 }

.title03{ text-align: left; color: #ff4f0f; font-size: 34px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 35px; margin-top: 35px; }
.title04{ text-align: center; color: #ff4f0f; font-size: 24px; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; margin-bottom: 35px; margin-top: 15px; }



.item-img02{ margin-top: 50px; }
#home-section03{ background:#fff url(../img/arrow-type1.png) no-repeat top center
; width: 100%; height:auto; min-height: 490px; padding: 60px 0; }
h3.feature01, .feature-box{ text-align: center; }
h3.feature01{ text-align: center; color: #313131; font-size: 26px; font-family: 'Open Sans Condensed', sans-serif; font-weight: normal; margin-bottom: 15px; margin-top: 35px; }
.btn-more1{
    margin-top: 50px;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 10px 30px;
    border-radius: 0px;
    margin: 50px 0px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s;
}
.btn-more1:hover{
  border: 1px solid #f3551d; text-decoration: none;
    color: #fff; background: #f3551d;
}
.btn-more1, .btn-more1:focus {
    margin-left: 0px;
    border: 1px solid #f3551d;
    color: #f3551d;
}
.btn-block{ clear: both; margin-top: 40px; display: block;  }
.clear{ clear: both; }
#home-section04{ background:#ef5117 url(../img/section04-bg.jpg) no-repeat center top; width: 100%; height:auto; min-height: 525px; padding: 40px 0; }

.solutions-item{ text-align: center; padding: 20px 0; margin:10px 0; width: 90%; }
.solutions-item img{ text-align: center; width: auto; height:auto; display: inline-block; }
.solutions-item h3 {
    font-size: 26px;
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 20px 0;
}
.solutions-item p {
    font-size: 16px; line-height: 24px;
    color: #fff;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0;
}
h2.title03 {
    text-align: left;
    color: #fff;
    font-size: 34px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 21px;
    padding-left: 172px;
}
.Phone-box{ float: right; width: 440px; height: 610px; background: url(../img/banner-iphone-img.png) no-repeat bottom center; position: relative; }
.fadeImg{    position: relative;
    float: left;
    width: 290px;
    height: 490px;
    top: 149px;
    left: 72px;}
#home-section05{ background:url(../img/section-04-bg-amin.gif) no-repeat center top; width: 100%; height:auto; min-height: 640px; padding:0px 0; }
#home-section06{ background:url(../img/project-idea-bg.jpg) no-repeat top center; width: 100%; height:auto; min-height: 640px; padding:0px 0; background-size: cover; }
h2.title04 {
    text-align: left;
    color: #ef5117;
    font-size: 34px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 21px;
    padding-left:0px;
}
a.link1{ color: #333; text-align: left; font-size: 16px; text-decoration: underline; }
a.link1:hover{ color: #ef5117; text-align: left; font-size: 16px; text-decoration: underline; }

.section05-text{ background:url(../img/arrow-type2.png) no-repeat left top; width: 100%; height:auto; min-height: 300px; padding: 100px 0 0 0;  }
.section05-img{ margin-top: 60px; }

#footer{ width: 100%; height: auto; min-height: 438px; background:url(../img/footer-bg.png) no-repeat center top; padding: 120px 0 40px 0; background-size: cover;  }
h4.title05{ text-align: left;
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    margin-bottom: 35px;
    margin-top:0px;
    }
#footer p{ text-align: justify;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal; line-height: 20px;
    }

a.icon-android{ display: inline-block; width: 40px; height: 50px; background: url(../img/icons.png) no-repeat 0px -167px; }
a.icon-android:hover{ display: inline-block; background: url(../img/icons.png) no-repeat 0px -220px; }
a.icon-ios{ display: inline-block; width: 40px; height: 50px; background: url(../img/icons.png) no-repeat -57px -167px; }
a.icon-ios:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -57px -220px; }

ul.fotter-links{ padding: 0px; margin-top: 0px; }
ul.fotter-links li{ list-style: none; padding: 0px; margin-top: 0px; line-height: 26px;  }
ul.fotter-links li a{ text-align: left; text-decoration: none; font-size: 14px; color: #fff;  }
ul.fotter-links li a:hover{ text-align: left; text-decoration: none; font-size: 14px; color: #a03008;  }

/*Footer Social iCons */
a.icon-facebook{ display: inline-block; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -160px -175px; }
a.icon-facebook:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -160px -230px; }
a.icon-twitter{ display: inline-block; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -204px -175px; }
a.icon-twitter:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -204px -230px; }
a.icon-linkedin{ display: inline-block; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -253px -175px; }
a.icon-linkedin:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -253px -230px; }
a.icon-google{ display: inline-block; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -300px -175px; }
a.icon-google:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -300px -230px; }
a.icon-instagram{ display: inline-block; width: 34px; height: 34px; background: url(../img/icons.png) no-repeat -347px -175px; }
a.icon-instagram:hover{ display: inline-block; background: url(../img/icons.png) no-repeat -347px -230px; } 

#footer2{ background: #000; width: 100%; margin:0px; padding: 20px 0; height: auto; min-height: 30px; }
#footer2 .footer-text{ color: #787878; font-size: 13px; line-height: 21px;  }
#footer2 a{ color: #787878; font-size: 13px; text-decoration: none; padding: 0px 5px; float: right;  }
#footer2 a:hover{ color: #ef5117; text-decoration: none;  }

.menu-logo{ width: 100%; height: auto;min-height: 80px; background: #ef5117; text-align: center;padding: 15px 0; }
.menu-logo img{ width: 120px; height: auto; }

.menu-block-inn a {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #fff; border-bottom: 1px solid #222 !important;
    line-height: 24px; margin-bottom: 2px;  margin-top: 2px;
    padding: 5px 10px 5px 45px !important;
    /*background: url(../img/icons.png) no-repeat 568px 0px;*/
}
/*a.menu-home{ background-position:-556px -8px; }
a.menu-home:hover{ background-position:-556px -58px; }
a.menu-about{ background-position:-556px -114px; }
a.menu-about:hover{ background-position:-556px -163px; }
a.menu-service{ background-position:-556px -217px; }
a.menu-service:hover{ background-position:-556px -267px; }
a.menu-portfolio{ background-position:-556px -320px; }
a.menu-portfolio:hover{ background-position:-556px -370px; }
a.menu-blog{ background-position:-556px -426px; }
a.menu-blog:hover{ background-position:-556px -476px; }
a.menu-contact{ background-position:-556px -530px; }
a.menu-contact:hover{ background-position:-556px -580px; }*/

ul.menu-service-box{ clear: both; width: 100%;padding: 0px; height: auto; float: left; margin:50px 0 0 0 !important; position: relative; }
ul.menu-service-box li{ list-style: none; width:120px; height:111px; text-align: center; float: left; position: relative; cursor: pointer; overflow: hidden; }
ul.menu-service-box li a { color: #ccc; font-size: 14px;float: left; text-decoration: none; padding: 36px 10px; 
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;}

ul.menu-service-box li a:hover{ color: #fff; font-size: 14px; float: left; }

ul.menu-service-box li a:hover, ul.menu-service-box li a:focus{
  -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);

}

.bdr01{  border-right:1px solid #333; }
.bdr02{  border-bottom:1px solid #333; }
ul.menu-service-box li a.web-design-bg:hover{ background: url(../img/menu-design-bg.jpg) no-repeat 100% 100%; }
ul.menu-service-box li a.development-bg:hover{ background: url(../img/menu-deveopment.jpg) no-repeat 100% 100%; }
ul.menu-service-box li a.branding-bg:hover{ background: url(../img/menu-barnding-bg.jpg) no-repeat 100% 100%; }
ul.menu-service-box li a.mobile-app-bg:hover{ background: url(../img/menu-mobile-bg.jpg) no-repeat 100% 100%; }

.menu-block{ clear: both; margin: 0px; padding: 0px; }
.menu-block-inn{ clear: both; margin: 0px; padding: 0px; }
.top-nav-collapse .navbar-header1{ margin-top: 10px; }

.model-left{ float: left; width: 50%; height: auto; padding:0px 30px; margin-top:0px; text-align: left; }
.model-right{ float: right; width: 40%; height: auto; padding:0px 30px; margin-top: 0px; text-align: left; color: #fff; }
.btn-more01, .btn-more01:focus {
    margin-left: 0px; margin-top:10px !important;
    border: 1px solid #f3551d;
    color: #fff;
    background: #f3551d;
    text-transform: uppercase;
    font-size: 18px;
}
.btn-more01:hover {
    margin-left: 0px; margin-top:10px !important;
    border: 1px solid #333;
    color: #fff;
    background: #333;
    text-transform: uppercase;
    font-size: 18px;
}

/*About Us Page */

.about-header {
    border-top: 4px solid #f3551d;
    width: 100%;
    height: auto;
    min-height: 400px;
    background: url(../img/about-banner-bg.jpg) no-repeat fixed;
    background-size: cover;
    position: relative;
}
.inner-banner-info{ text-align: right; margin-top: 200px; width: 100%; height: auto;min-height: 150px; }
.inner-banner-info h2{ text-align: right; font-size:40px; font-weight: normal; color: #fff; margin-bottom: 20px; font-family: 'Open Sans Condensed', sans-serif; }
.inner-banner-info h2 span{ text-align: right; font-size:50px; font-weight: bold; color: #fff; }
.breadcrum{ font-size: 18px; color: #fff; text-align: right; }
.breadcrum a{ font-size: 18px; color: #fff; text-align: right; text-decoration: none; }
.breadcrum a:hover{ font-size: 18px; color: #ff4f0f; text-align: right; text-decoration: none; }

.About-featurs{ clear: both; width: 100%; height: auto; padding: 10px 0; margin-top: 10px 0;  }
.About-featurs-img{ float: left; width: 180px; margin-right: 15px; }
.About-featurs-text{ float: left; width: 80%; margin-right: 0px; }
.About-featurs-text h3{ font-size: 30px;  margin-bottom: 20px; font-family: 'Open Sans Condensed', sans-serif; color: #ff4f0f;  }

#about-section03{ clear: both; background:#fff; padding: 0px; margin:20px 0; }
#service-section01{
    background: #ff4f0f url(../img/service-section01.jpg) no-repeat top center;
    width: 100%;
    height: auto; color: #fff;
    min-height: 890px;
    padding: 60px 0;
}
.service-box{ text-align: center; width: 100%; margin: 30px 0px; }
.service-img{ text-align: left; float: left; width: 35%; margin-right: 20px; }
.service-text{ text-align: left; font-size: 14px; float: right; width: 60%; font-size: 16px; line-height: 24px;  }
h3.service-title01{ font-size: 24px; color: #333; font-weight: normal; text-align: left; font-family: 'Open Sans', sans-serif; margin-bottom: 20px; margin-top: 50px;  }
h3.service-title01 span{ font-size: 40px; color: #333; display: block; font-weight: bold; text-align: left; font-family: 'Open Sans', sans-serif;  }
h3.service-title02{ font-size: 24px; color: #fff; font-weight: normal; text-align: left; font-family: 'Open Sans', sans-serif; margin-bottom: 20px; margin-top: 50px;  }
h3.service-title02 span{ font-size: 40px; color: #fff; display: block; font-weight: bold; text-align: left; font-family: 'Open Sans', sans-serif;  }

.service-text11{ text-align: left; font-size: 14px; float: left; width: 60%; font-size: 16px; line-height: 24px;  }
.service-img11{ text-align: left; float: right; width: 35%; margin-right: 20px; }

#service-section01-1{     
  background: #f3551d url(../img/mobile-app-development-bg.jpg) no-repeat fixed;
    width: 100%; height: auto; min-height: 490px;  padding: 40px 0; }

.view-portfolio a{ background: #ff4f0f; width: 150px; height: 150px;margin:10% 42%; border-radius: 100px; box-shadow: #333 0 0 10px; 
  text-align: center; font-size: 20px; color: #fff; text-decoration: none; display: inline-block; padding-top: 40px; }
.view-portfolio a span{ color: #fff; font-size: 30px; font-weight: bold; display: block; }
.view-portfolio a:hover{ background: #fff; width: 150px; height: 150px;margin:10% 42%; border-radius: 100px; box-shadow: #333 0 0 10px; 
  text-align: center; font-size: 20px; color: #ff4f0f; text-decoration: none; display: inline-block; padding-top: 40px; }
.view-portfolio a:hover span{ color: #ff4f0f; font-size: 30px; font-weight: bold; display: block; }

#service-section02{ background: #ff4f0f;  width: 100%;  height: auto; min-height: 380px; padding: 40px 0; color: #fff; }
#service-section02-1{     
  background: #f3551d url(../img/custom-development-bg.jpg) no-repeat fixed;
    width: 100%; height: auto; min-height: 490px;  padding: 40px 0; }

#service-section03{ background: #313131;  width: 100%;  height: auto; min-height: 400px; padding: 40px 0; color: #fff; }
#service-section04{ background: #f7f7f7;  width: 100%;  height: auto; min-height: 400px; padding: 40px 0; color: #333; }

.portfolio-filter{ clear: both;width: 100%; height: auto; margin:20px 0; }
.portfolio-filter-box{   display: inline-block; width: 200px; height: 200px; border: 1px solid #f7f7f7; 
  background: #fff; box-shadow:#ccc 0 0 8px; text-align: center; 
padding: 20px 0px;     margin: 0px 50px 10px;  }
.portfolio-filter-box a {
    float: left;
    color: #ff4f0f;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    padding: 123px 0 20px 0;
    width: 200px;
    height: 179px; 
}
.portfolio-filter-box:hover, .portfolio-filter-box.active{     display: inline-block; width: 200px; height: 200px; border: 1px solid #ff4f0f; 
  background: #ff4f0f; box-shadow:#333 0 0 12px; text-align: center; 
padding: 20px 0px;  }
.portfolio-filter-box a:hover, .portfolio-filter-box.active a {
    float: left;
    color: #fff;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    padding: 123px 0 20px 0;
    width: 200px;
    height: 179px;
}
.portfolio-filter-box a.iphone{ background: url(../img/icons.png) no-repeat -166px -296px; }
.portfolio-filter-box a.iphone:hover, .portfolio-filter-box a.iphone.active{ background: url(../img/icons.png) no-repeat -166px -406px; }
.portfolio-filter-box a.android{ background: url(../img/icons.png) no-repeat 44px -296px; }
.portfolio-filter-box a.android:hover, .portfolio-filter-box a.android.active{ background: url(../img/icons.png) no-repeat 44px -406px; }
.portfolio-filter-box a.ipad{ background: url(../img/icons.png) no-repeat -371px -296px; }
.portfolio-filter-box a.ipad:hover, .portfolio-filter-box a.ipad.active{ background: url(../img/icons.png) no-repeat -371px -406px; }

.portfolio-box{ border: 1px solid #ccc; background:#fff; padding: 20px; margin:0px 0 30px 0; text-align: center; height: auto;min-height: 300px; }
.portfolio-box:hover{ border: 1px solid #ccc; box-shadow: #ccc 0 0 10px; }
.portfolio-box img{ width: auto; height: 255px; }
.portfolio-box h4{ text-align: center; font-size: 20px; color: #ef5117; margin:10px 0; font-weight: bold; font-family: 'Open Sans Condensed', sans-serif; }
.portfolio-showcase{ clear: both; width: 100%; height: auto; margin:100px 0; }
#map-section01 {
    background: url(../img/google-map.jpg) no-repeat fixed top center;
    width: 100%;
    height: auto;
    min-height: 400px;
    background-size: cover;
}
#contact-section01 {
    background: #f3551d url(../img/contact-banner-bg1.jpg) no-repeat fixed;
    width: 100%;
    height: auto;
    min-height: 490px;
    padding: 40px 0;
}
.address{ padding:0 0 0 56px;background: url(../img/icons1.png) no-repeat -14px -15px; color: #fff; margin-bottom: 10px;  }
.phone{ padding:0 0 0 56px;background: url(../img/icons1.png) no-repeat -14px -81px; color: #fff; margin-bottom: 10px;  }
.fax{ padding:0 0 0 56px;background: url(../img/icons1.png) no-repeat -14px -124px; color: #fff; margin-bottom: 10px;  }

.address1{ padding:0 0 0 56px;background: url(../img/icons1-1.png) no-repeat -14px -15px; color: #333; margin-bottom: 10px;  }
.phone1{ padding:4px 0 4px 56px;background: url(../img/icons1-1.png) no-repeat -14px -81px; color: #333; margin-bottom: 10px;  }
.fax1{ padding:3px 0 3px 56px;background: url(../img/icons1-1.png) no-repeat -14px -124px; color: #333; margin-bottom: 10px;  }

.Map-responsive{ width: 100%; height: 100%; min-height: 300px; }
.Contact-info{ border: 1px solid #fff; box-shadow: #ccc 0 0 10px; background: #fff; padding: 0px;  }
.Contact-info-text{ padding: 15px; width: 100%; height: auto; min-height: 300px; }
.Contact-info-text .title04{ margin-bottom: 25px;  }
.Post-Project{ width: 60%; margin:30px auto; padding: 30px 35px; background: #fff; box-shadow: #666 0 0 10px; }


.contact-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/contact-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.service-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/service-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.iphone-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/iphone-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.ipad-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/ipad-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.android-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/android-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.news-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/news-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.terms-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/terms-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.privacy-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/privacy-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.sitemap-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/sitemap-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.career-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/career-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.faq-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/faq-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}
.project-header {
    border-top: 4px solid #f3551d; width: 100%; height: auto; min-height: 400px;
    background: url(../img/project-idea-banner.jpg) no-repeat fixed;
    background-size: cover; position: relative;
}

.header-banner-block{ border-top: 4px solid #f3551d;
    width: 100%;
    height: auto;
    min-height: 400px;
    position: relative; overflow: hidden; }
.header-banner-block .header-banner-img img{ width: 100%; height:100%; max-height: 400px; position: absolute;  }

.responsive{ width: 100%; height: auto; }
ul.service-list{ margin:20px 0px; padding: 0px; }
ul.service-list li{ list-style: none; padding: 0 0 0 28px; width: 45%; text-align: left;
background: url(../img/bullete01.png) no-repeat left top; display: inline-block; margin:0px 30px 10px 0; }
#service-section02_1, #service-section02_1_1{
    background: #fff url(../img/service-section02-bg.jpg) no-repeat top center;
    width: 100%;
    height: auto; color: #333;
    min-height: 540px;
    padding: 60px 0;
}
ul.service-list1, ul.service-list2{ margin:20px 0px; padding: 0px; }
ul.service-list1 li{ list-style: none; padding: 0 0 0 28px; width: 45%; text-align: left;
background: url(../img/bullete02.png) no-repeat left top; display: inline-block; margin:0px 30px 10px 0; }
ul.service-list2 li{ list-style: none; padding: 0 0 0 28px; width: 100%; text-align: left;
background: url(../img/bullete02.png) no-repeat left top; display: inline-block; margin:0px 30px 10px 0; }



#service-section02_2{
    background: #313131 url(../img/service-section03-bg.jpg) no-repeat top center;
    width: 100%;
    height: auto; color: #fff;
    min-height: 540px;
    padding: 60px 0;
}
#portfolio-section01 {
    background: #fff url(../img/service-section02-bg.jpg) no-repeat top center;
    width: 100%;
    height: auto;
    color: #333;
    min-height: 890px;
    padding: 60px 0;
}
.Career-requirements-info{ width: 100%; background: #fff; height: auto; padding: 5px 18px; margin:0 0 20px 0;  }
.Career-requirements-info h3 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ff4f0f;
}
.Career-requirements-info ul{ margin:15px 0px; clear: both; width: 100%; padding: 0px; }
.Career-requirements-info ul li{
    background: url(../img/arrow-3-dark.png) 6px 15px no-repeat;
    padding: 5px 10px 5px 30px;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}
.panel-group .panel {
    margin-bottom: 20px;
    border-radius: 0px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px; background: url(../img/job-icon.png) 0px 0px no-repeat;
    color: inherit; padding: 0 0 0 60px; line-height: 50px;
}
.panel-title a{ color:#ff4f0f; font-size: 30px; font-weight: bold;  font-family: 'Open Sans Condensed', sans-serif; text-decoration: none;  }
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
    padding: 10px 15px; min-height: 50px;
}
.panel-title1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px; background: url(../img/faq-img.png) 0px 5px no-repeat;
    color: inherit; padding: 0 0 10px 30px; line-height: 30px;
}
.panel-title1 a{ color:#ff4f0f; font-size: 20px; font-weight: bold;  font-family: 'Open Sans Condensed', sans-serif; text-decoration: none;  }
.panel-default1 {
    border-color: #fff;
    border: 1px solid #ddd !important;
    padding: 5px 10px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    padding: 5px 10px; min-height: 20px;
}
.panel {
    margin-bottom:10px;
    background-color: #fff;
    border-bottom: 1px dashed #fff;
    border-radius:0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0);
    box-shadow: 0 1px 1px rgba(0,0,0,.0);
}
.faq-related-links{ background: #ff4f0f url(../img/faq-topics-bg.png) no-repeat bottom right; 
  box-shadow: #ccc 0 1px 5px; padding: 15px; color: #fff;  font-size: 16px; min-height: 400px; }
.faq-related-links h3{ font-size: 28px; font-family: 'Open Sans Condensed', sans-serif;  color: #fff; margin:10px 0 20px 0; text-align: left;  }
.faq-related-links ul{ padding: 0px; margin: 0px 0 0 15px; clear: both; width: 100%;
 }
 .faq-related-links ul li{ list-style: none; line-height: 28px; margin:0 0 5px 0; text-align: left; padding: 0px;  }
.faq-related-links ul li a{ text-decoration: none; color: #fff; font-size: 15px;  }
.faq-related-links ul li a:hover{ text-decoration: underline; color: #fff; font-size: 15px;  }

ul.sitemap-list{ margin:10px 0px; padding: 0px; width: 100%; height: auto; min-height: 200px; }
ul.sitemap-list li{ list-style: none; padding: 0 0 0 18px; width: 45%; text-align: left;
background: url(../img/bullete03.png) no-repeat left top; display: inline-block; margin:0px 30px 10px 0; }
ul.sitemap-list li a{ color: #fff; font-size: 15px; text-decoration: none;   }
ul.sitemap-list li a:hover{ color: #333; font-size: 15px; text-decoration: none;   }
.font14{ font-size: 14px;  }
.btn-more2{
    margin-top: 50px;
    color: #fff;
    border: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    padding: 18px 40px;
    border-radius: 0px;
    margin: 100px 0px 0 0;
    outline: none !important;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.3s; background: #f3551d;
}
.btn-more2:hover{
  border: 1px solid #f3551d; text-decoration: none;
    color: #fff; background: #f3551d;
}
.btn-more2, .btn-more2:focus {
    margin-left: 0px;
    border: 1px solid #f3551d;
    color: #fff;
}
.Privacy-policy-text{ text-align: left; width: 100%; height: auto; min-height: 600px; }
.terms_section ul li {
    background: url(../img/arrow-3-dark-2.png) 6px 15px no-repeat;
    padding: 10px 10px 10px 26px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0; letter-spacing: 0.5;
    display: block; font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.panel-career{ background: #fff; border-bottom: 1px solid #ddd; box-shadow: #eee 0 2px 5px; }
.News-listing-block {
    clear: both;
    width: 100%;
    height: auto;
    margin: 0 0 35px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.news-img{ width: 300px; float: left; height: auto; margin:0 25px 0 0; }
.news-text{ float: left; width: 70%; height: auto; margin:0 0 0px 0; }
.news-text h3{ margin-top: 0px; }
a.news-category-link{ font-size: 14px; color: #ff4f0f; text-decoration: none; margin:0px 5px; }
a.news-category-link:hover{ font-size: 14px; color: #333; text-decoration: none; }
.news-text h3 a{  font-size: 32px; color: #ff4f0f; font-family: 'Open Sans Condensed', sans-serif; text-decoration: none; margin:0px 0 20px 0px;  }
.news-text h3 a:hover{ color: #333; text-decoration: none; }
.News-post{ font-size: 13px; color: #666; }
.search-box{ border: 1px solid #d8d7d7 !important; border-radius:5px; width: 100%; padding: 20px; height: 60px; 
 background: url(../img/search-icon.png) no-repeat 360px 20px; margin-bottom: 35px;   }
.News-right-block{ float: right; width: 80%; height: auto; }
a { color: #ff4f0f; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
ul.category-list{ margin: 0px; padding: 0px; width: 100%; }
ul.category-list li{ line-height: 35px; list-style: none; }
ul.category-list li a{ color: #ff4f0f; font-size: 15px; text-decoration: none; margin:0px; padding: 0 0 0 26px; background: url(../img/arrow-3-dark.png) 6px 6px no-repeat;   }
ul.category-list li a:hover{ color: #333; font-size: 15px; text-decoration: none;   }
ul.category-list li a span{ float: right; color: #333; }
ul.latest-posts-list{ margin: 0px; padding: 0px; width: 100%; }
ul.latest-posts-list li{ line-height: 20px; list-style: none; border-bottom: 1px dashed #ccc; }
ul.latest-posts-list li a{ display: block; color: #ff4f0f; font-size: 15px; text-decoration: none; margin:0 0 5px 0; padding:10px 0; }
ul.latest-posts-list li a:hover{ color: #333; font-size: 15px; text-decoration: none;   }

.news-img-details{ width: 600px; float: left; height: auto; margin:0 0px 0 0; }
.news-text-details{ float: left; width: 95%; height: auto; margin:0 0 0px 0; }
.news-text-details h3{ margin-top: 0px; }

.title08 {
    text-align: left; color: #ff4f0f; font-size: 34px; font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold; margin-bottom: 15px;  margin-top: 35px !important;
}

a.tags{ display: inline-block; padding: 5px 10px; background:#414141; text-align: center; font-size: 13px; text-decoration: none; margin:3px;
color:#fff; border-radius: 3px; }
.News-category-box, .News-tags-box, .News-latest-posts-box{ clear: both;; width: 100%; height: auto;min-height: 100px; margin-bottom: 30px;  }
.Share-post{ clear: both; width: 100%; height: auto; margin:15px 0; }
a.facebook-icon-square{     background: #414141; color: #fff!important; border: 0;
    box-shadow: none; font-size: 18px; padding: 12px; position: relative; top: -2px; line-height: 1; text-align: center;
    width: 40px; display: inline-block; height: 40px;border-radius: 3px; margin-bottom: 0;
} 
a.facebook-icon-square:hover{     background: #ff4f0f; color: #fff!important; border: 0;
    box-shadow: none; font-size: 18px; padding: 12px; position: relative; top: -2px; line-height: 1; text-align: center;
    width: 40px; display: inline-block; height: 40px;border-radius: 3px; margin-bottom: 0;
} 
.service-block{ background: #fff; box-shadow: #ccc 0 0 8px; padding: 15px; text-align: left; font-size: 15px; color: #333; line-height: 20px; margin: 10px 0 20px 0; min-height: 700px; }
.service-block .service-img1{ float: left; width: 100%; text-align: left; margin-bottom: 20px; }
.service-block .service-text1{ float: left; width: 100%; text-align: left; margin-right: 0px; }
.service-title03{ font-size: 28px; color: #ff4f0f;  font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;  margin: 10px 0 20px 0px;
 }
.font18{ font-size: 18px; }
.project-idea-text{ clear: both; width: 100%; height: auto; min-height: 130px; margin-bottom: 10px; }
.project-idea-text .step-div{ float: left; width: 100px; height: 100px; border-radius: 100px; text-align: center; padding: 30px 0; margin-right: 20px;
  font-size: 26px; color: #fff;  font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; background:#ff4f0f; box-shadow: #ccc 0 5px 10px; }
.portfolio-box1 {
    border: 1px solid #ccc;
    background: #f2f2f2;
    padding: 0;
    margin: 0px 0 30px 0;
    text-align: center;
    height: auto;
    min-height: 257px;
}
.app-features-box {
    background: #fff;
    box-shadow: #d43e06 0 0 10px;
    text-align: center;
    width: 25%;
    margin: 30px 35px;
    padding: 35px 20px;
    display: inline-block;
    color: #333;
    font-weight: bold;
}
.owl-theme .owl-dots,.owl-theme .owl-nav{text-align:center;-webkit-tap-highlight-color:transparent}.owl-theme .owl-nav{margin-top:10px}.owl-theme .owl-nav [class*=owl-]{color:#FFF;font-size:14px;margin:5px;padding:4px 7px;background:#D6D6D6;display:inline-block;cursor:pointer;border-radius:3px}.owl-theme .owl-nav [class*=owl-]:hover{background:#869791;color:#FFF;text-decoration:none}.owl-theme .owl-nav .disabled{opacity:.5;cursor:default}.owl-theme .owl-nav.disabled+.owl-dots{margin-top:10px}.owl-theme .owl-dots .owl-dot{display:inline-block;zoom:1}.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity .2s ease;border-radius:30px}.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#869791}
#service-section02_3 {
    background: #313131 url(../img/project-idea-bg01.jpg) no-repeat top center fixed;
    width: 100%;
    height: auto;
    color: #fff; background-size: cover;
    min-height: 540px;
    padding: 60px 0;
}
.mobile-menu{ display: none; float: right; width: 120px; margin:20px 15px; }
.pagination-box{ text-align: center; }












/*#footer a {
  color: #be9e21;
  font-weight: 400;
}*/

/***********************************
************************************
Responsive media queries
************************************
***********************************/

/***********************************
************************************
cta
************************************
***********************************/

.cta {
  background-color: rgb(73, 84, 105);
}

.cta .cta-info {
  width: 100%;
  float: left;
  padding: 30px 25px 30px 15px;
  border-radius: 5px;
}

.cta .cta-info .cta-txt h3 {
  font-size: 32px;
  margin-bottom: 10px;
}

.cta .cta-info .cta-btn {
  margin-top: 16px;
  background-color: rgb(190, 158, 33);
  padding: 20px 50px;
  color: #FFF;
  font-size: 22px;
  display: inline-block;
  transition: all 0.5s ease-in 0s;
}

/***********************************
************************************
Responsive media queries
************************************
***********************************/

@media (min-width: 768px) and (max-width: 980px) {
  .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
  .portfolio-item figure figcaption {
    padding: 55px 30px;
  }
  .padding-right-zero {
    padding-right: 15px !important;
  }
  #footer {
    width: 100%;
    height: auto;
    min-height: 398px;
    background: #e75926 url(../img/footer-bg.png) no-repeat center bottom !important;
    padding: 40px 0 40px 0;
}.navbar-header1 {
    float: left;
    width: 33%;
    text-align: left;
}
}

@media (min-width: 451px) and (max-width: 767px) {
  .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
 .navbar-default .navbar-brand {
    padding-left: 10px;
    margin-top: -20px;
}
.navbar-default .logo {
    width: 137px;
    height: auto;
}
  .banner-info {
    padding-top: 40px;
  }
  h1.bnr-title {
    font-size: 16px;
  }
 h2.bnr-sub-title {
    font-size: 28px;
}
.marbot80 {
    margin-bottom: 20px;
}
.Banner-features ul li {
    display: inline-block;
    margin: 0px 20px 10px 0;
    padding: 0 0 0 40px;
    line-height: 35px;
    width: 100%;
}
.overlay-detail {
    margin-top: 0;
}
.banner-iphone {
    margin-top: 0px;
}
.Phone-box {
    float: right;
    width: 100% !important;
    height: auto !important; 
    background: url(../img/banner-iphone-img.png) no-repeat bottom center;
    position: relative;
    background-size: 100% !important;
}
.fadeImg {
    position: relative;
    float: left;
    width: 200px !important;
    height: 410px !important;
    top: 106px !important;
    left: 46px !importantW;
}
.fadeImg  img{
    position: absolute;
    width: 292px !important;
    height: auto !important;
    left: 2px !important;
    top: 0px !important;
    display: none !important;
}
#animate-area {
    width: 100%;
    height: auto;
    min-height: 650px;
    background-image: url(../img/header-bg.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    animation: animatedBackground 60s linear infinite !important;
}
.title01 {
    font-size: 28px;
    margin-bottom: 30px;
    margin-top: 5px;
}
#home-section04 {
    background: #ff4f0f;
    width: 100%;
    height: auto;
    min-height: 525px;
    padding: 40px 0;
}
h2.title03 {
    display: none;
}
#footer {
    width: 100%;
    height: auto;
    min-height: 398px;
    background: #e75926 url(../img/footer-bg.png) no-repeat center bottom !important;
    padding: 40px 0 40px 0;
}
#footer2 .footer-text, #footer2 .footer-link2 {
    text-align: center;
}
h3.service-title01 span { font-size: 34px; text-align: center; }
.title07 { font-size: 18px; }
.news-img-details { width: 100%; }







body {
    font-size: 14px;
  }
  .btn-download, .btn-more, .btn-download:hover, .btn-more:hover, .btn-download:focus, .btn-more:focus {
    font-size: 20px; padding: 7px 18px; width: 100%; float: left;  margin-top: 0px; margin-bottom: 15px;
  }
  .wrap-item h3 {
    font-size: 18px;
  }
  .title, .service-title {
    font-size: 28px;
  }
  .sub-title {
    font-size: 15px;
  }
  .service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
  }
  .loction-info {
    padding: 0px 15px;
  }
  .portfolio-item figure figcaption {
    padding: 30px 30px;
  }
  .padding-right-zero {
    padding-right: 15px !important;
  }
  .portfolio-item figure p {
    font-size: 14px;
  }
  .portfolio-item figure h2 {
    font-size: 18px;
  }
  .testimonial-item ul li blockquote {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0;
    padding: 0 40px;
  }
  .navbar-default .navbar-nav>li>a {
    line-height: 22px;
    text-align: left;
  }
  .navbar-header1 {
    float: left; width: 52px !important;
}
.inner-banner-info h2 {
    text-align: center;
    font-size: 40px;
}
.breadcrum {
    text-align: center;
}
.title01 {
    font-size: 29px;
    margin-bottom: 35px;
    margin-top: 35px;
}
h2.title04 {
    font-size: 34px;
    margin-bottom: 25px;
    margin-top: 21px;
}
.About-featurs-img {
    width: 100%;
    margin-right: 0px;
    text-align: center;
}
.About-featurs-text {
    width: 100%;
    margin-right: 0px;
    text-align: center;
}
.portfolio-box img {
    width: auto;
    height: 290px;
}
.service-text {
    text-align: center;
    font-size: 14px;
    float: right;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
}
h3.service-title01 {
    font-size: 24px;
    color: #333;
    font-weight: normal;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.service-img {
    text-align: center;
    float: right;
    width: 100%;     margin-right: 0px;
    margin-left:0px;
}

#service-section01-1 {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 40px 0;
}
.view-portfolio a {
    background: #ff4f0f;
    width: 150px;
    height: 150px;
    margin: 10% 25%;

}
h3.service-title02 {
    text-align: center;
  }
#service-section02-1 {
    min-height: 300px;
}
h3.service-title02 span {
    text-align: center;
}
.service-img11 { text-align: center; width: 100%; margin-right: 0px; }
.service-text11 { width: 100%; }
#service-section01 { padding: 30px 0; }
.app-features-box { width: 100%;  margin: 10px 0px; }
#service-section02_3 { padding: 0px 0; }
#service-section02_1 { padding: 10px 0; }
.section05-text { background: none !important; width: 100%; height: auto; min-height: 300px; padding: 10px 0 0 0; }
ul.service-list li { width: 100%; }
ul.service-list1 li { list-style: none; padding: 0 0 0 28px;  width: 100%; }
.btn-more1 { font-size: 18px; margin: 0px 0px 10px 0; float: left; text-align: center; width: 100%; }
h3.service-title02 { margin-top: 0px; }
.service-box { margin: 0px 0px; }
.model-left { width: 100%; padding: 0px 10px; background: #f8f8f8 url(../img/model-right-bg.jpg) no-repeat top left;  }
.model-right { width: 100%; padding: 0px 10px; background: #f8f8f8 url(../img/model-right-bg.jpg) no-repeat bottom right; }
.modal-content { width: 97%; }
.News-right-block { float: right; width: 100%; height: auto; }
.panel-title { line-height: 35px; }
.panel-title a { font-size: 24px; }
.project-idea-text .step-div {
    float: none; width: 100px; height: 100px; display: block; margin: 0px auto 15px;
}
.Banner-features{ display: none; }
.news-img { width: 100%; float: left; }
.news-text { float: left; width: 100%; height: auto; margin: 0 0 0px 0; }
.header-banner-block .header-banner-img img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    position: absolute;
}
ul.menu-service-box {
    margin: 0px 0 0 0 !important;
}
.mobile-menu {
    display: block;
    float: right;
    width: 40px;
    margin: 20px 0px 20px 0;
    margin-top: -46px;
}

.navbar-default .navbar-nav>li>a {
    line-height: 22px;
    text-align: left;
    float:left;
}
#home-section04 {
    background: url(../img/section04-bg-ar.jpg) no-repeat left top !important; padding: 40px 0 20px 0;
}
#portfolio-section01 {
    padding: 0px 0;
}
.title08 {
    text-align: left;
    color: #ff4f0f;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 35px !important;
}
.Post-Project {
    width: 100%;
    margin: 30px auto;
    padding: 30px 10px;
    background: #fff;
    box-shadow: #666 0 0 10px;
}
#footer2 a {
    padding: 0px 5px;
    float: none;
}
ul.sitemap-list li {
    list-style: none;
    padding: 0 0 0 18px;
    width: 100%;
    margin: 0px 0px 10px 0;
}
ul.terms_section{ padding: 0px; width: 100%; }

}








